<div class="pokemon-detail">
  <button class="close-btn" (click)="onClose()">Close</button>
  
  <div class="header">
    <img 
      [src]="pokemon?.assets?.image" 
      [alt]="pokemon?.names?.English" 
      class="pokemon-main-image" />
    <h2>{{ pokemon?.names?.English }}</h2>
    <div class="dex-info">
      <span class="dex-number">#{{ pokemon?.dexNr }}</span>
      <span class="generation">Generation: {{ pokemon?.generation }}</span>
    </div>
  </div>

  <div class="section">
    <h3>Stats</h3>
    <ul class="stats-list">
      <li><strong>Stamina:</strong> {{ pokemon?.stats?.stamina }}</li>
      <li><strong>Attack:</strong> {{ pokemon?.stats?.attack }}</li>
      <li><strong>Defense:</strong> {{ pokemon?.stats?.defense }}</li>
    </ul>
  </div>

  <div class="section">
    <h3>Types</h3>
    <div class="types">
      <div class="type">
        <strong>Primary:</strong> {{ pokemon?.primaryType?.names?.English }}
      </div>
      <div class="type" *ngIf="pokemon?.secondaryType">
        <strong>Secondary:</strong> {{ pokemon?.secondaryType?.names?.English }}
      </div>
    </div>
  </div>

  <div class="section moves">
    <h3>Quick Moves</h3>
    <div class="move-list" *ngIf="pokemon?.quickMoves">
      <div *ngFor="let moveKey of getQuickMoveKeys()" class="move">
        <h4>{{ pokemon.quickMoves[moveKey].names.English }}</h4>
        <p><strong>Power:</strong> {{ pokemon.quickMoves[moveKey].power }}</p>
        <p><strong>Energy:</strong> {{ pokemon.quickMoves[moveKey].energy }}</p>
        <p><strong>Duration:</strong> {{ pokemon.quickMoves[moveKey].durationMs }} ms</p>
      </div>
    </div>
  </div>

  <div class="section moves">
    <h3>Cinematic Moves</h3>
    <div class="move-list" *ngIf="pokemon?.cinematicMoves">
      <div *ngFor="let moveKey of getCinematicMoveKeys()" class="move">
        <h4>{{ pokemon.cinematicMoves[moveKey].names.English }}</h4>
        <p><strong>Power:</strong> {{ pokemon.cinematicMoves[moveKey].power }}</p>
        <p><strong>Energy:</strong> {{ pokemon.cinematicMoves[moveKey].energy }}</p>
        <p><strong>Duration:</strong> {{ pokemon.cinematicMoves[moveKey].durationMs }} ms</p>
      </div>
    </div>
  </div>

  <div class="section assets">
    <h3>Assets</h3>
    <div class="asset-images">
      <img [src]="pokemon?.assets?.image" [alt]="pokemon?.names?.English" class="asset-image"/>
      <img [src]="pokemon?.assets?.shinyImage" [alt]="pokemon?.names?.English + ' Shiny'" class="asset-image"/>
    </div>
  </div>

  <div class="section evolutions" *ngIf="pokemon?.evolutions?.length">
    <h3>Evolutions</h3>
    <ul>
      <li *ngFor="let evo of pokemon.evolutions">
        {{ evo.id }} (Candies: {{ evo.candies }})
      </li>
    </ul>
  </div>

  <div class="section asset-forms" *ngIf="pokemon?.assetForms?.length">
    <h3>Asset Forms</h3>
    <div class="asset-form-list">
      <div *ngFor="let form of pokemon.assetForms" class="asset-form">
        <img 
          [src]="form.image" 
          [alt]="pokemon?.names?.English + (form.costume ? ' - ' + form.costume : '')" 
          class="form-image"/>
        <p *ngIf="form.costume">Costume: {{ form.costume }}</p>
      </div>
    </div>
  </div>
</div>